fastapi
uvicorn

langgraph
langchain
langchain-groq

qdrant-client

sentence-transformers

pymupdf

python-docx

pandas

sqlalchemy

psycopg2-binary

python-dotenv

pydantic

tiktoken

langsmith

ragas
python-multipart
